@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #333; }

a {
  color: #28559a;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.medium {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.text-center {
  text-align: center; }

.text-white {
  color: #fff; }

.text-primary {
  color: #28559a; }

.text-dark {
  color: #142a5e; }

/* Mobile Styles */
@media (max-width: 700px) {
  /* Text Styles */
  .x-large {
    font-size: 3rem; }
  .large {
    font-size: 2rem; }
  .lead {
    font-size: 1rem; } }

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem; }

/* Padding */
.p {
  padding: 0.5rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.py {
  padding: 0.5rem 0; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

/* Margin */
.m {
  margin: 0.5rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.my {
  margin: 0.5rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.bg-primary {
  background-image: linear-gradient(to right, #142a5e, #28559a, #142a5e);
  color: #fff; }

.bg-light {
  background: #faf9f9;
  color: #333; }

.bg-dark {
  background: #242424;
  color: #fff; }

.bg-danger {
  background: #aa2b38;
  color: #fff; }

.bg-success {
  background: #239c40;
  color: #fff; }

.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.bg-light {
  border: #ccc solid 1px; }

/* Global Styles */
.round-img {
  border-radius: 50%; }

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0; }

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.table th,
.table td {
  padding: 1rem;
  text-align: left; }

.table th {
  background: #ccc;
  border-radius: 0.5rem; }

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem; }
  .hide-sm {
    display: none; } }

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #e39d52;
  color: #333; }

.alert-primary {
  background: #28559a;
  color: #fff; }

.alert-light {
  background: #e39d52;
  color: #333; }

.alert-dark {
  background: #070c34;
  color: #fff; }

.alert-danger {
  background: #aa2b38;
  color: #fff; }

.alert-success {
  background: #239c40;
  color: #fff; }

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.alert-light {
  border: #ccc solid 1px; }

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #333;
  color: #fff; }

.badge-primary {
  background: #28559a;
  color: #fff; }

.badge-light {
  background-color: #538de5;
  color: #333; }

.badge-dark {
  background: #070c34;
  color: #fff; }

.badge-danger {
  background: #aa2b38;
  color: #fff; }

.badge-success {
  background: #239c40;
  color: #fff; }

.badge-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.badge-light {
  border: #ccc solid 1px; }

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: 0.2s ease-in;
  outline: none; }
  .btn:active {
    transform: translateY(-3px);
    box-shadow: 0rem 0.3rem 0.9rem rgba(51, 51, 51, 0.8); }
  .btn-primary {
    background-image: linear-gradient(to right, #28559a, #142a5e);
    color: #fff;
    transition: background-image 0.4s linear; }
    .btn-primary:hover {
      background-image: linear-gradient(to right, #28559a, #538de5); }
  .btn-light {
    background-image: linear-gradient(to right, #538de5, #63bce5);
    color: #faf9f9; }
  .btn-dark {
    background-image: linear-gradient(to right bottom, #333, #777);
    color: #fff; }
  .btn-danger {
    background-image: linear-gradient(to right, #aa2b38, #851621);
    color: #fff; }
    .btn-danger:hover {
      background-image: linear-gradient(to right, #aa2b38, #f56c7a); }
  .btn-success {
    background: #239c40;
    color: #fff; }
  .btn-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px; }

/* Mobile Styles */
@media (max-width: 700px) {
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem; } }

/* Forms */
.form .form-group {
  margin: 1.2rem 0; }

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc; }

.form input[type="submit"],
button {
  font: inherit; }

.form .social-input {
  display: flex; }

.form .social-input i {
  padding: 0.5rem;
  width: 4rem; }

.form .social-input i.fa-twitter {
  color: #38a1f3; }

.form .social-input i.fa-facebook {
  color: #3b5998; }

.form .social-input i.fa-instagram {
  color: #3f729b; }

.form .social-input i.fa-youtube {
  color: #c4302b; }

.form .social-input i.fa-linkedin {
  color: #0077b5; }

/* Navbar */
#nav-logo {
  color: #63bce5; }
  #nav-logo:hover {
    color: #a8dcf5; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #28559a;
  opacity: 0.9;
  color: #63bce5; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #a8dcf5; }
    .navbar a:active {
      color: #a8dcf5; }

@media (max-width: 700px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center; }
  .navbar ul {
    text-align: center;
    justify-content: center; }
  .navbar h1 {
    margin-bottom: 1rem; }
  .navbar .welcome {
    display: none; } }

/* Landing Page */
.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh; }

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

/* Posts Page */
.post-form .post-form-header {
  background: #28559a;
  padding: 0.5rem; }

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center; }

.post > div:first-child {
  text-align: center; }

.post img {
  width: 100px; }

.post .comment-count {
  background: #deb992;
  color: #28559a;
  padding: 0.1rem 0.2rem;
  border-radius: 0.5rem;
  font-size: 0.8rem; }

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem; }

/* Mobile Styles */
@media (max-width: 700px) {
  .post {
    grid-template-columns: 1fr; }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem; } }

/* Profile Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: -0.1rem 0.2rem 0.4rem rgba(51, 51, 51, 0.4); }
  .profile-grid {
    display: grid;
    grid-template-areas: "top top" "about about" "exp edu" "github github";
    grid-gap: 1rem; }
  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba(51, 51, 51, 0.5); }
  .profile-top img {
    width: 250px; }
  .profile-top .icons a {
    color: #fff;
    margin: 0 0.3rem; }
  .profile-top .icons a:hover {
    color: #63bce5; }
  .profile-about {
    grid-area: about;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba(51, 51, 51, 0.2); }
  .profile-about .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .profile-exp {
    grid-area: exp;
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba(51, 51, 51, 0.2); }
  .profile-edu {
    grid-area: edu;
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba(51, 51, 51, 0.2); }
  .profile-exp h2,
  .profile-edu h2 {
    margin-bottom: 1rem; }
  .profile-exp > div,
  .profile-edu > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted; }
  .profile-exp > div:last-child,
  .profile-edu > div:last-child {
    border: 0; }
  .profile-exp p,
  .profile-edu p {
    margin: 0.5rem 0; }
  .profile-github {
    grid-area: github; }
  .profile-github .repo {
    display: flex; }
  .profile-github .repo > div:first-child {
    flex: 7;
    flex-basis: 70%; }
  .profile-github > div:last-child {
    flex: 3;
    flex-basis: 20%; }

/* Mobile Styles */
@media (max-width: 700px) {
  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
    /* Profile Page */ }
    .profile ul {
      display: none; }
    .profile-top img,
    .profile img {
      width: 200px;
      margin: auto; }
    .profile-grid {
      grid-template-areas: "top" "about" "exp" "edu" "github"; }
    .profile-about .skills {
      flex-direction: column; } }

.profiles {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.5rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: -0.1rem 0.2rem 0.4rem rgba(51, 51, 51, 0.4); }

.profile-card {
  display: grid;
  grid-template-rows: auto;
  justify-items: center; }
  .profile-card__img {
    width: 70%; }
  .profile-card__info-container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center; }

/* Mobile Styles */
@media (max-width: 700px) {
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem; } }
