.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $secondary-color;
  color: $color-grey-dark-1;

  &-primary {
    background: $primary-color;
    color: $white-color;
  }

  &-light {
    background: $secondary-color;
    color: $color-grey-dark-1;
  }

  &-dark {
    background: $dark-color;
    color: $white-color;
  }

  &-danger {
    background: $danger-color;
    color: $white-color;
  }

  &-success {
    background: $success-color;
    color: $white-color;
  }

  &-white {
    background: $white-color;
    color: $color-grey-dark-1;
    border: $color-grey-light-4 solid 1px;
  }

  &-light {
    border: $color-grey-light-4 solid 1px;
  }
}
