.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $secondary-color;
  color: $color-grey-dark-1;
}

.alert-primary {
  background: $primary-color;
  color: $white-color;
}

.alert-light {
  background: $secondary-color;
  color: $color-grey-dark-1;
}

.alert-dark {
  background: $dark-color;
  color: $white-color;
}

.alert-danger {
  background: $danger-color;
  color: $white-color;
}

.alert-success {
  background: $success-color;
  color: $white-color;
}

.alert-white {
  background: $white-color;
  color: $color-grey-dark-1;
  border: $color-grey-light-4 solid 1px;
}

.alert-light {
  border: $color-grey-light-4 solid 1px;
}
