.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $color-grey-dark-1;
  color: $white-color;

  &-primary {
    background: $primary-color;
    color: $white-color;
  }

  &-light {
    background-color: $primary-color-light;
    color: $color-grey-dark-1;
  }

  &-dark {
    background: $dark-color;
    color: $white-color;
  }

  &-danger {
    background: $danger-color;
    color: $white-color;
  }

  &-success {
    background: $success-color;
    color: $white-color;
  }

  &-white {
    background: $white-color;
    color: $color-grey-dark-1;
    border: $color-grey-light-4 solid 1px;
  }

  &-light {
    border: $color-grey-light-4 solid 1px;
  }
}
