.btn {
  display: inline-block;
  background: $color-grey-dark-1;
  color: $white-color;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:hover {
    // opacity: 0.6;
    background-image: linear-gradient(
      to right,
      $primary-color,
      $primary-color-light
    );
  }

  &-primary {
    background-image: linear-gradient(
      to right,
      $primary-color,
      $primary-color-dark
    );
    color: $white-color;
  }

  &-light {
    // background-color: $primary-color-light;
    background-image: linear-gradient(
      to right,
      $primary-color-light,
      $primary-color-lighter
    );
    color: $color-grey-light-1;
  }

  &-dark {
    // background: $dark-color;
    background-image: linear-gradient(
      to right bottom,
      $color-grey-dark-1,
      $color-grey-dark-2
    );
    color: $white-color;
  }

  &-danger {
    background-image: linear-gradient(
      to right,
      $danger-color,
      $danger-color-dark
    );
    color: $white-color;

    &:hover {
      // opacity: 0.6;
      background-image: linear-gradient(
        to right,
        $danger-color,
        $danger-color-light
      );
    }
  }

  &-success {
    background: $success-color;
    color: $white-color;
  }

  &-white {
    background: $white-color;
    color: $color-grey-dark-1;
    border: $color-grey-light-4 solid 1px;
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
}
