.btn {
  display: inline-block;
  background: $color-grey-dark-1;
  color: $white-color;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: 0.2s ease-in;
  outline: none;

  &-primary {
    background-image: linear-gradient(
      to right,
      $primary-color,
      $primary-color-dark
    );
    color: $white-color;
    transition: background-image 0.4s linear;

    &:hover {
      // opacity: 0.6;
      background-image: linear-gradient(
        to right,
        $primary-color,
        $primary-color-light
      );
    }
  }

  &-light {
    background-image: linear-gradient(
      to right,
      $primary-color-light,
      $primary-color-lighter
    );
    color: $color-grey-light-1;
  }

  &-dark {
    background-image: linear-gradient(
      to right bottom,
      $color-grey-dark-1,
      $color-grey-dark-2
    );
    color: $white-color;
  }

  &-danger {
    background-image: linear-gradient(
      to right,
      $danger-color,
      $danger-color-dark
    );
    color: $white-color;

    &:hover {
      // opacity: 0.6;
      background-image: linear-gradient(
        to right,
        $danger-color,
        $danger-color-light
      );
    }
  }

  &-danger-secondary {
    background-color: transparent;
    color: $danger-color;
    border: 1px solid $danger-color !important;

    &:hover {
      // opacity: 0.6;
      background-image: linear-gradient(
        to right,
        $danger-color,
        $danger-color-light
      );
      color: white;
    }
  }

  &-success {
    background: $success-color;
    color: $white-color;
  }

  &-white {
    background: $white-color;
    color: $color-grey-dark-1;
    border: rgba($color-grey-light-4, 0.9) solid 1px;
  }

  &-skill {
    &-primary {
      background-color: white;
      color: $color-grey-dark-1;
    }
  }
}

button {
  font: inherit;
}
