$primary-color: blue;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$white-color: #fff;
$black-color: black;
$dark-grey-color: #333;
$light-grey-color: #ccc;
$twitter-blue-color: #38a1f3;
$facebook-blue-color: #3b5998;
$instagram-blue-color: #3f729b;
$youtube-blue-color: #c4302b;
$linkedin-blue-color: #0077b5; ;
