@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/alert";
@import "components/badge";
@import "components/button";
@import "components/form";

@import "layout/header";
@import "layout/navbar";

@import "pages/landing";
@import "pages/posts";
@import "pages/profile-page";
@import "pages/profiles-cards";
@import "pages/dashboard-page";
@import "pages/edit-profile-page";
@import "pages/edit-edu-page";
@import "pages/edit-exp-page";

/* Mobile Styles */
@media (max-width: 700px) {
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
}

// mobile
