.dashboard {
  &-page-container {
    // text-align: center;
    display: grid;
    grid-template-areas:
      "header header header"
      "actions actions actions"
      "card experience experience"
      "card education education"
      "delete delete delete";
    grid-gap: 1rem;
  }

  // HEADER
  &-header {
    grid-area: header;
    > h1 {
      font-family: "Roboto";
      font-weight: 500;
      margin-bottom: 0;
      text-align: center;
    }

    > p {
      font-family: "Roboto";
      font-weight: 400;
      color: $primary-color-light;
      text-align: center;
    }
  }
  // ACTIONS
  &-actions-list {
    grid-area: actions;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  // CARD CONTAINER
  &-card {
    &-top {
      grid-area: card;
      border-radius: 0.5rem;
      box-shadow: -0.1rem 0.2rem 0.4rem rgba($color-grey-dark-1, 0.5);
      background-color: $white-color;
    }
    &-skills {
      text-align: center;
    }
  }
  // EXPERIENCE
  &-exp-container {
    grid-area: experience;
  }

  // EDUCATION
  &-edu-container {
    grid-area: education;
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
}

// &-top img {
//   width: 230px;
// }

// &-top .icons {
//   display: flex;
//   width: 100%;
//   padding: 1.5rem 2rem 2rem 2rem;
//   align-items: center;
//   justify-content: center;
// }

// &-top .icons a {
//   color: $white-color;
//   margin: 0 0.3rem;
// }

// &-top .icons a:hover {
//   color: $primary-color-lighter;
//   // color: $secondary-color;
// }
