.dashboard-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  > h1 {
    font-family: "Roboto";
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }

  > p {
    font-family: "Roboto";
    font-weight: 400;
    color: $primary-color-light;
    text-align: center;
  }
}

.dashboard-elements {
  display: grid;
  grid-template-areas:
    "actions"
    "edu-dash exp-dash";
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.actions-dash {
  grid-area: actions;
  display: flex;
  flex-direction: column;
}

.edu.dash {
  grid-area: edu-dash;
}

.exp-dash {
  grid-area: exp-dash;
}
