.dashboard {
  &-page-container {
    display: grid;
    grid-template-areas:
      "header"
      "actions"
      "main";
    // "delete";
    // grid-template-areas:
    //   "header header header header "
    //   "actions actions actions actions "
    //   "card experience experience experience "
    //   "card education education education "
    //   "delete delete delete delete  ";
    grid-gap: 1rem;
  }

  // HEADER
  &-header {
    grid-area: header;

    > h1 {
      font-family: "Roboto";
      font-weight: 500;
      margin-bottom: 0;
      text-align: center;
    }

    > p {
      font-family: "Roboto";
      font-weight: 400;
      color: $primary-color-light;
      text-align: center;
    }
  }
  // ACTIONS
  &-actions-list {
    grid-area: actions;
    text-align: center;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
  }

  // MAIN CONTAINER
  &-main-container {
    grid-area: main;
    display: flex;
    flex-direction: row;
    // grid-area: "card experience" "card education";
  }

  // ASIDE CONTAINER
  &-aside-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
  }

  // CARD CONTAINER
  &-card {
    &-component {
      border-radius: 0.5rem;
      box-shadow: -0.1rem 0.2rem 0.4rem rgba($color-grey-dark-1, 0.5);
      background-color: $white-color;
      margin-bottom: 1rem;
    }
    &-img {
      text-align: center;
      width: 230px;
    }
  }
  &-skills {
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba($color-grey-dark-1, 0.5);
    background-color: $white-color;

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0.5rem;
    }
  }

  &-eachSkill {
    font-size: 0.9rem;
    font-family: "Roboto";
    background: $white-color;
    color: $color-grey-dark-1;
    border: $color-grey-light-4 solid 1px;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    // width: 30%;
  }

  &-edu-and-exp-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 2rem;
  }

  // EXPERIENCE
  &-exp-container {
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba($color-grey-dark-1, 0.5);
    background-color: $white-color;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  &-exp-list {
    margin-bottom: 0.5rem;
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      &-inst {
        max-width: 50%;
      }
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      max-width: 65%;
    }
  }

  // EDUCATION
  &-edu-container {
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.2rem 0.4rem rgba($color-grey-dark-1, 0.5);
    background-color: $white-color;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  &-edu-list {
    margin-bottom: 0.5rem;
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      &-inst {
        max-width: 50%;
      }
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      max-width: 65%;
    }
  }
}


//cards

.edu-exp {
  &-card {
    &-title {

      color:$primary-color-dark;
      font-weight: 500;
      font-size: 1.2rem;
      margin-right: 2rem;

      & > span {
        margin-left: .5rem;
      }
    }

  }
}



.btn-add {
  border-radius: 50%;
  width: 1.5rem;
  height: 1rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.07rem 0.5rem;
  transition: 0.2s ease-in;
  
  // background-image: linear-gradient(
  //   to right,
  //   $primary-color,
  //   $primary-color-dark
  // );
  // color: $white-color;
  color: $primary-color;
  border: solid $primary-color 1.7px;
  transition: background-image 0.4s linear;

  &:active {
    transform: translateY(-3px);
    box-shadow: 0rem 0.3rem 0.9rem rgba($color-grey-dark-1, 0.8);
  }

  &:hover {
    // width: 2rem;
    // height:2rem;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.1rem 0.5rem;
    border: solid 2.3px !important;
    padding: 0.07rem 0.55rem;
    // background-image: linear-gradient(
    //   to right,
    //   $primary-color,
    //   $primary-color-light
    // );
  }
}

.btn-delete-exp-edu {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  border: 1px red;
}

.btn-delete-profile {
  // grid-area: delete;
  width: max-content;
  text-align: center;
  display: flex;
  margin-top: 4rem;
  // align-self: center;
  // grid-column: 2 / 3;
  // grid-row: 6 /7;
}

// /* Mobile Styles */
@media (max-width: 900px) {
  .dashboard {
    &-card {
      &-img {
        width: 170px;
      }
    }

    // &--edu-and-exp-container {
    // }

    &-exp-container {
      h2 {
        text-align: center;
        margin-bottom: 0.7rem;
      }
    }

    &-exp-list {
      text-align: center;
      margin-bottom: 2.5rem;

      &-top {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        &-inst {
          max-width: 50%;
        }
      }

      &-bottom {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &-edu-container {
      h2 {
        text-align: center;
        margin-bottom: 0.7rem;
      }
    }

    &-edu-list {
      text-align: center;
      margin-bottom: 2.5rem;

      &-top {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        &-inst {
          max-width: 50%;
        }
      }

      &-bottom {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .dashboard {
    &-page-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }

    &-main-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }

    // ASIDE CONTAINER
    &-aside-container {
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    // CARD CONTAINER
    &-skills {
      &-list {
      }
    }

    &-edu-and-exp-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 450px) {
  .dashboard {
    &-page-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }

    &-actions-list {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &-aside-container {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &-edu-and-exp-container {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &-edu-list {
      text-align: center;
      margin-bottom: 2.5rem;

      &-top {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        &-inst {
          // max-width: 50%;
          // text-align: center;
        }
      }
    }
  }
}
