/* Landing Page */
.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center/cover;
  height: 100vh;
  z-index: -1;
  color: $white-color;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-inner {
}
