* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $white-color;
  color: #333;
}

a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
