/* Text Styles*/

.font1 {
  font-family: 'Open Sans';
  &-light {
    font-weight: 300;
  }
  &-reg {
    font-weight: 400;
  }
  &-bold {
    font-weight: 600;
  }
}

.font2 {
  font-family: 'Roboto';
  &-reg {
    font-weight: 400;
  }
  &-bold {
    font-weight: 500;
  }
  &-xbold {
    font-weight: 700;
  }
  &-italic {
    font-style: italic;
  }
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text {
  &-center {
    text-align: center;
  }
  &-white {
    color: $white-color;
  }
  &-primary {
    color: $primary-color;
  }
  &-dark {
    color: $primary-color-dark;
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
}
